body{
background: #fefffd;

}
.container{
    display: flex;
    height:100vh;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.green{
    width:20%;
    height:50%;
    background-color: aquamarine;
}
.greenone{
    width:20%;
    height:70%;
    background-color: aquamarine;
}
.greentwo{
     width:20%;
    height:100%;
    background-color: aquamarine;
}
.red{
    width:80%;
    height:20%;
    background-color: red;
}

