body{
background: #fefffd;
}
#redColorText{
    color: red;
}
#backgroundColorYellow{
    background: yellow;  
}
.redColorName{
 color: red;   
}
.backgroundColorBlue{
    background: blue;   
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 20px dashed red;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.landingImage{
    height: 600px;
    object-fit: contain;
}
.redcolour{
    background:red;
}
.whitecolour{
    background-color: #fefffd;

}
.containerone{
     display: flex;
     flex-direction: row-reverse;
     height: 100vh;
}
.left{
    width:80%;
    height:100%;
    background-color: gray;
}
.right{
    width:20%;
    height:100%;
    background-color: aquamarine;
}
.big{
    height: 100%;
    width:30%;
    background-color: aquamarine;
}
.small{
    height: 100%;
    width:20%;
    background-color: #fefffd;
}
