body{
background: #fefffd;
}
.containertwo{
    display: flex;
     flex-direction: column;
     justify-content:space-between;
     height: 100vh;
     
}
.blue{
    width:100%;
    height:20%;
    background-color: blue;
}
.aqgreen{
     width: 100%;
    height:20%;
    background-color: aquamarine;
}
